<!-- <div class="grid grid-cols-12 gap-4 md:grid-cols-8 md:mx-16 sm:grid-cols-4 xsm:mx-0 lg:mx-24">
   <div class="col-span-10 grid-cols-2" >
    <h2 class="dis mt-8">Browse by Category</h2>
   </div>
   <div class="cards flex gap-5 md:wrap md:gap-2 ">
    <div class="border card rounded-md p-4" >
        <div class="card-body sm:w-24">
            <div class="flex justify-center mx-auto w-16 h-16 md:w-12 md:h-16" style="background-image:url(../assets/img/apple-606761_640-removebg-preview.png); background-size: cover; background-position: center;"></div>
            <h3 class="card-title dis_regular text-medium text-bold">Computers</h3>
        </div>
    </div>
    
   <div class="border  card rounded-md p-4">
    <div class="card-body">
        <div class="flex justify-center mx-auto w-16 h-16 " style="background-image:url(../assets/img/smartphone.png); background-size: cover; background-position: center;"></div>
      <h3 class="card-title dis_regular text-sm">Phones and Tablets</h3>
</div>
</div>
<div class="border  card rounded-md p-4">
    <div class="card-body">
        <div class="flex justify-center mx-auto w-16 h-16 "style="background-image:url(../assets/img/camera.png); background-size: cover; background-position: center;"></div>
      <h3 class="card-title dis_regular text-sm">Electronics</h3>
</div>
</div>
<div class="border  card rounded-md p-4">
    <div class="card-body">
        <div class="flex justify-center mx-auto w-16 h-16  "style="background-image:url(../assets/img/food.png); background-size: cover; background-position: center;"></div>
      <h3 class="card-title dis_regular text-sm">Foods and Beverage</h3>
</div>

</div>
<div class="border  card rounded-md p-4">
    <div class="card-body">
        <div class="flex justify-center mx-auto w-16 h-16 "style="background-image:url(../assets/img/chair.png); background-size: cover; background-position: center;"></div>
      <h3 class="card-title">Furniture</h3>
</div>
</div>
</div> -->
<p class="xsm:ms-8 md:ms-28 dis">Browse By Categories</p>
<div class="grid grid-cols-12 gap-4 md:grid-cols-8 md:mx-16 sm:grid-cols-4 xsm:grid-cols-4  xsm:mx-4 lg:mx-24">
   
<div class=" col-span-full card-container">

    <div class="border card rounded-md " style="width: 10rem;" >
        <img src="../assets/img/apple.jpg" style="width:10rem; margin: 0; padding: 0;" alt="">
        <div class="card-body  m-0">
     
            <h3 class="card-title dis_regular text-sm  text-bold pb-4">Computers</h3>
        </div>
    </div>
    <div class="border card rounded-md flex-col " style="width: 10rem; " >
        <div class="img-container rounded-xl">
            <img src="../assets/img/phone.jpg" style="width:10rem;  margin: 0; padding: 0;" alt="">
        </div>
        <div class="card-body  m-0">
           
            <h3 class="card-title dis_regular text-sm  text-bold pb-4">Phones & Tablets</h3>
        </div>
    </div>
    <div class="border  card rounded-md p-4">
        <div class="card-body m-0">
            <div class="flex justify-center mx-auto w-16 h-16 "style="background-image:url(../assets/img/camera.png); background-size: cover; background-position: center;"></div>
          <h3 class="card-title dis_regular text-sm">Electronics</h3>
    </div>
    </div>
    <div class="border  card rounded-md p-4">
        <div class="card-body m-0">
            <div class="flex justify-center mx-auto w-16 h-16 m-0 "style="background-image:url(../assets/img/food.png); background-size: cover; background-position: center;"></div>
          <h3 class="card-title dis_regular text-sm">Foods and Beverage</h3>
    </div>
    
    </div>
    <div class="border  card rounded-md p-4">
        <div class="card-body m-0">
            <div class="flex justify-center mx-auto w-16 h-16 "style="background-image:url(../assets/img/chair.png); background-size: cover; background-position: center;"></div>
          <h3 class="card-title dis_regular text-sm">Furniture</h3>
    </div>
    </div>
  </div>
</div>