<div class="grid grid-cols-12 gap-4 md:grid-cols-8 md:mx-16 sm:grid-cols-4 xsm:grid-cols-4 xsm:mx-4 lg:mx-24">
    <h2 class="text-xl dis mt-8 whitespace-nowrap">Products</h2>
    <div class="relative col-span-full">

        <div #cardContainer class="card-container flex flex-col gap-5">
            <div *ngFor="let category of categories" class="category-container flex flex-col w-full">
                <h3 class="text-2xl font-semibold mt-4 mb-2">{{ category.category_name }}</h3>
                <div class="products-container flex gap-5 overflow-x-auto">
                    <div *ngFor="let product of category.products"
                        class="card h-[18rem] flex-none flex flex-col justify-between shadow-lg rounded-lg">
                        <div class="bd p-4 flex-grow">
                            <img [src]="product.safeImageUrl" [alt]="product.product_name"
                                class="card-img object-scale-down m-0 w-full h-[5rem]">
                            <div class="card-body mt-4">
                                <h3 class="card-title text-bold text-sm dis nowrap capitalize underline">{{ product.product_name }}</h3>
                                <p class="description dis_regular text-gray-400 text-sm wrap">
                                    {{ product.product_description }}
                                </p>
                            </div>
                        </div>
                        <div class="bts mt-auto p-4">
                            <p class="text-sm dis_regular py-1 mb-2">Kshs {{ product.product_price }}</p>
                            <button
                                class="button py-2 px-2 rounded-xl bg-gray-800 dis_regular text-white text-sm hover:bg-white hover:text-gray-800 border hover:border-gray-800 w-full">
                                Add to Cart | <i class="bi bi-cart-plus-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
