


.nowrap {
    width: 150px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
   
}

@media(max-width:1252px){
    .scroll-container {
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent cards from wrapping */
    }
    
    
    .card {
        flex: 0 0 auto; /* Maintain the original size of the cards */
        margin-right: 1em;
    }
}
.card{
    width:200px;
  
}


@media(max-width:767px){
    .scroll-container{
        justify-content: center;
    }
    
        /* .card{
            width:80%;
            margin:0;
        } */
    
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-container {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .card-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }