/* Ensure the first card is visible */
.products-container {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 50px; /* Adjust this value based on your button width */
    margin-left: -50px; /* This offsets the padding so the content aligns properly */
  }
  
  .card {
    width: 200px;
    flex: 0 0 auto; /* Maintain the original size of the cards */
  }
  
  .scroll-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent cards from wrapping */
  }
  
  @media (max-width: 767px) {
    .scroll-container {
      justify-content: center;
    }
  }
  
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-container {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .card-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
  