.button{
    font-size: .7em;
}


.nowrap {
    width: 200px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
   
}

@media(max-width:1252px){
    .scroll-container {
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent cards from wrapping */
    }
    
    .card-container {
        display: inline-flex; /* Make the cards appear in a single row */
    }
    .card {
        flex: 0 0 auto; /* Maintain the original size of the cards */
        margin-right: 1em;
    }
}
.card{
    width:300px;
  
}
.card-img{
    height: 200px !important;
}