<div class="grid grid-cols-12 gap-4 md:grid-cols-8 md:mx-16 sm:grid-cols-4 xsm:grid-cols-4  xsm:mx-4 lg:mx-24 mb-4 ">
    <h2 class="text-xl  dis mt-8" style="text-wrap: nowrap;">Top Rated Products</h2>
    <div class=" col-span-full card-container flex justify-between scroll-container">
        <div class="card w-[265px] h-auto bg-gray-100  rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/apple-606761_640-removebg-preview.png" alt="" class="card-img  w-[100px]">
                <div class="card-body">
                    <h3 class="card-title  text-bold dis nowrap">MacBook Pro</h3>
                    <p class="text-sm dis_regular">Kshs 120,000</p>
                    <div class="bts  justify-between">
                        
                <button class="button py-1
                px-2 rounded-xl bg-gray-400 dis_regular text-sm mt-2"> Add to Cart ></button>
                    </div>

                </div>

            </div>
        </div>
        <div class="card w-[265px] h-[] bg-gray-100 rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/smartphone.png" alt="" class="card-img w-[100px]">
                <div class="card-body">
                    <h3 class="card-title text-bold dis nowrap">
                        Ipad Air(5th Generation)
                    </h3>
                    <p class="text-sm dis_regular">Kshs 120,000</p>
                    <button class="button py-1 px-2 rounded-xl bg-gray-400 dis_regular mt-2 text-sm">Add to Cart ></button>
                </div>
            </div>
        </div>
        
        <!-- <div class="card w-[265px] h-auto bg-gray-100 rounded-lg">
            <div class="bd p-4 flex  h-full">
                <img src="../assets/img/camera.png" alt="" class="card-img w-[100px]">
                <div class="card-body ">
                    <h3 class="card-title text-bold dis nowrap">Canon Camera 2019</h3>
                    <p class="text-sm dis_regular">Kshs 40,000</p>
                    <button class="button py-1 px-2 rounded-xl bg-gray-400 dis_regular mt-auto text-sm">Add to Cart ></button>
                </div>
            </div>
        </div>
         -->
         <div class="card w-[265px] h-auto bg-gray-100  rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/camera.png" alt="" class="card-img  w-[100px]">
                <div class="card-body">
                    <h3 class="card-title  text-bold dis nowrap">Canon Camera 2019</h3>
                    <p class="text-sm dis_regular">Kshs 120,000</p>
                    <div class="bts  justify-between">
                        
                <button class="button py-1
                px-2 rounded-xl bg-gray-400 dis_regular text-sm mt-2"> Add to Cart ></button>
                    </div>

                </div>

            </div>
        </div>
        
        <div class="card w-[265px] h-[] bg-gray-100  rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/chair.png" alt="" class="card-img  w-[100px]">
                <div class="card-body">
                    <h3 class="card-title  text-bold dis">Executive chair</h3>
                    <p class="text-sm dis_regular">Kshs 25,000</p>
                    <button class="button py-1
                px-2 rounded-xl bg-gray-400 dis_regular mt-2 text-sm"> Add to Cart ></button>

                </div>

            </div>
        </div>
    </div>
    <h2 class="text-xl  dis mt-8" style="text-wrap: nowrap;">Products</h2>
    <div class=" col-span-full card-container flex justify-between scroll-container">
        <div class="card w-[265px] h-auto bg-gray-100  rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/apple-606761_640-removebg-preview.png" alt="" class="card-img  w-[100px]">
                <div class="card-body">
                    <h3 class="card-title  text-bold dis nowrap">MacBook Pro</h3>
                    <p class="text-sm dis_regular">Kshs 120,000</p>
                    <div class="bts  justify-between">
                        
                <button class="button py-1
                px-2 rounded-xl bg-gray-400 dis_regular text-sm mt-2"> Add to Cart ></button>
                    </div>

                </div>

            </div>
        </div>
        <div class="card w-[265px] h-[] bg-gray-100 rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/smartphone.png" alt="" class="card-img w-[100px]">
                <div class="card-body">
                    <h3 class="card-title text-bold dis nowrap">
                        Ipad Air(5th Generation)
                    </h3>
                    <p class="text-sm dis_regular">Kshs 120,000</p>
                    <button class="button py-1 px-2 rounded-xl bg-gray-400 dis_regular mt-2 text-sm">Add to Cart ></button>
                </div>
            </div>
        </div>
        
        <!-- <div class="card w-[265px] h-auto bg-gray-100 rounded-lg">
            <div class="bd p-4 flex  h-full">
                <img src="../assets/img/camera.png" alt="" class="card-img w-[100px]">
                <div class="card-body ">
                    <h3 class="card-title text-bold dis nowrap">Canon Camera 2019</h3>
                    <p class="text-sm dis_regular">Kshs 40,000</p>
                    <button class="button py-1 px-2 rounded-xl bg-gray-400 dis_regular mt-auto text-sm">Add to Cart ></button>
                </div>
            </div>
        </div>
         -->
         <div class="card w-[265px] h-auto bg-gray-100  rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/camera.png" alt="" class="card-img  w-[100px]">
                <div class="card-body">
                    <h3 class="card-title  text-bold dis nowrap">Canon Camera 2019</h3>
                    <p class="text-sm dis_regular">Kshs 120,000</p>
                    <div class="bts  justify-between">
                        
                <button class="button py-1
                px-2 rounded-xl bg-gray-400 dis_regular text-sm mt-2"> Add to Cart ></button>
                    </div>

                </div>

            </div>
        </div>
        
        <div class="card w-[265px] h-[] bg-gray-100  rounded-lg">
            <div class="bd p-4 flex">
                <img src="../assets/img/chair.png" alt="" class="card-img  w-[100px]">
                <div class="card-body">
                    <h3 class="card-title  text-bold dis">Executive chair</h3>
                    <p class="text-sm dis_regular">Kshs 25,000</p>
                    <button class="button py-1
                px-2 rounded-xl bg-gray-400 dis_regular mt-2 text-sm"> Add to Cart ></button>

                </div>

            </div>
        </div>
    </div>
</div>