<div class="bg bg-[#FCFAFA]">
    <div class="grid grid-cols-12  md:grid-cols-8  sm:grid-cols-4 xsm:mx-0 flex justify-center">
        <div
            class=" col-span-12 col-start-3 col-end-10 my-5 h-[40vh] flex justify-center items-center md:col-span-8 md:col-start-2 md:col-end-8  sm:grid-cols-4 sm:col-span-4 xsm:grid-cols-4 xsm:col-span-4">
            <div class="    w-full rounded-lg md:h-full"
                style="background-image: url(../assets/img/ecomm1.jpg); background-size: cover; background-position: center;">
                <div class="h-full flex flex-col justify-center items-start text-start ">
                    <p class="text-xl pt-24 ms-[25%] dis sm:text-sm sm:text-bold ">UP TO<br> <span
                            class="text-red-600">50%</span> Discount</p>
                    <button class="ms-[25%] p-[.5em] text-sm bg-[#D9D9D9] rounded mt-3 dis">Explore products</button>
                </div>
            </div>
        </div>
    </div>
</div>