<!-- Slider -->
<div data-hs-carousel='{
  "loadingClasses": "opacity-0",
  "isAutoPlay": true
}' class="relative bg-white mb-6 ">
  <div class="hs-carousel relative overflow-hidden w-full h-[50vh] mt-0  ">
    <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap  transition-transform duration-1000 opacity-0 duration-1000 ease-in-out">
      
      <!-- Slide 1 -->
      <div class="relative hs-carousel-slide">
        <div class="flex flex-col md:flex-row justify-center items-center h-[46vh]">
          <!-- Left Card -->
          <div class="w-full md:w-1/2 bg-white shadow-lg rounded-lg px-4 flex flex-col h-full justify-center items-center text-center p-4">
            <h3 class="text-2xl md:text-5xl font-semibold mb-2 px-2 md:px-6 dis">Welcome to Mugambi's Products App. For your everyday shopping and shipping.</h3>
            <!-- <p class="text-base">Content for the left card goes here. This can be some descriptive text or information.</p> -->
          </div>
          <!-- Image -->
          <div class="w-full md:w-1/2 h-full">
            <img src="../assets/img/ecomm.jpg" alt="Image description" class="w-[90%] h-full object-cover  rounded-md">
          </div>
        </div>
      </div>
      

      <!-- Slide 2 -->
      <div class="relative hs-carousel-slide">
        <div class="flex flex-col md:flex-row justify-center items-center h-[46vh]">
          <!-- Left Card -->
          <div class="w-full md:w-1/2 bg-white shadow-lg rounded-lg px-4 flex flex-col h-full justify-center items-center text-center p-4">
            <h3 class="text-2xl md:text-5xl font-semibold mb-2 px-2 md:px-6 dis">Deliveries made country wide within 4 business days.</h3>
            <!-- <p class="text-base">Content for the left card goes here. This can be some descriptive text or information.</p> -->
          </div>
          <!-- Image -->
          <div class="w-full md:w-1/2 h-full">
            <img src="../assets/img/deliveries.png" alt="Image description" class="w-[90%] h-full object-cover rounded-md">
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="relative hs-carousel-slide">
        <div class="flex flex-col md:flex-row justify-center items-center h-[46vh]">
          <!-- Left Card -->
          <div class="w-full md:w-1/2 bg-white shadow-lg rounded-lg px-4 flex flex-col h-full justify-center items-center text-center p-4">
            <h3 class="text-2xl md:text-5xl font-semibold mb-2 px-2 md:px-6 dis">Explore crazy deals this Weekend. </h3>
            <!-- <p class="text-base">Content for the left card goes here. This can be some descriptive text or information.</p> -->
          </div>
          <!-- Image -->
          <div class="w-full md:w-1/2 h-full">
            <img src="../assets/img/ecomm.jpg" alt="Image description" class="w-[90%] h-full object-cover rounded-md">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Previous Button -->
  <button type="button" class="hs-carousel-prev hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-8 sm:w-[46px] h-full text-gray-800 hover:bg-gray-800/10 focus:outline-none focus:bg-gray-800/10 rounded-s-lg dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">
    <span class="text-2xl" aria-hidden="true">
      <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6"></path>
      </svg>
    </span>
    <span class="sr-only">Previous</span>
  </button>

  <!-- Next Button -->
  <button type="button" class="hs-carousel-next hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-8 sm:w-[46px] h-full text-gray-800 hover:bg-gray-800/10 focus:outline-none focus:bg-gray-800/10 rounded-e-lg dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">
    <span class="text-2xl" aria-hidden="true">
      <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </span>
    <span class="sr-only">Next</span>
  </button>

  <!-- Pagination -->
  <div class="hs-carousel-pagination flex justify-center pt-4 absolute bottom-0 sm:bottom-3 start-0 end-0 space-x-1 sm:space-x-2">
    <span class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-2 sm:size-3 border border-gray-400 rounded-full cursor-pointer dark:border-neutral-600 dark:hs-carousel-active:bg-blue-500 dark:hs-carousel-active:border-blue-500"></span>
    <span class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-2 sm:size-3 border border-gray-400 rounded-full cursor-pointer dark:border-neutral-600 dark:hs-carousel-active:bg-blue-500 dark:hs-carousel-active:border-blue-500"></span>
    <span class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-2 sm:size-3 border border-gray-400 rounded-full cursor-pointer dark:border-neutral-600 dark:hs-carousel-active:bg-blue-500 dark:hs-carousel-active:border-blue-500"></span>
  </div>
</div>
<!-- End Slider -->
